@import "tailwindcss";


/*Realizacja hamburgera, który krzyżuje się przy aktywacji */
.mobile-menu-button.is-open #top-bar {
    transform: translateY(-0px) rotate(45deg);
}

.mobile-menu-button.is-open #middle-bar {
    opacity: 0;
}

.mobile-menu-button.is-open #bottom-bar {
    transform: translateY(-0px) rotate(-45deg);
}